* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}

a {
    text-decoration: none;
    padding: 0.7em 3em 0em 3em;
    font-size:1.5em;
    color: rgb(71, 71, 71);
    text-align: center;
}
.titulo {
    width: 30%;
    padding: 0.1em 0 0 2em;
    font-size: 2em;
}
.boxHeather {
    display: flex;
    flex-direction: row;
    /* height: 3em; */
    background-color: #f8f9fa;
}
.barraNav{
    margin-top: 0em;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.etiquetaAcarrito {
    padding-top: 0;
}
.cartIcon {
    width: 1.5em;
    height: 1.5em;
}
.listaDeProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    box-shadow: 0 0 6px 0  grey;
}
.detalleItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid grey; */
    box-shadow: 0 0 10px 4px  grey;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.detalleItem__titulo {
    font-size: 2rem;
    
}
.btnCounter {
    width: 2em;
    font-size: 1.3em;
}